@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}



@font-face {
  font-family: 'Freigeist Con';
  src: url('/fonts/fregist/Fontspring-DEMO-freigeist-conregular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist Con';
  src: url('/fonts/fregist/Fontspring-DEMO-freigeist-conbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist Con';
  src: url('/fonts/fregist/Fontspring-DEMO-freigeist-conbolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}