@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Freigeist Con';
  src: url('/fonts/fregist/Fontspring-DEMO-freigeist-conregular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist Con';
  src: url('/fonts/fregist/Fontspring-DEMO-freigeist-conbold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist Con';
  src: url('/fonts/fregist/Fontspring-DEMO-freigeist-conbolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

.custom-ease {
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}